bc-lexer.*
bc-parser*
vm/vm_test
interpreter
compilertest
compiler
vmtest
mitscript
vgout.txt
code.mit

bc-lexer.h
bc-lexer.cpp
bc-parser.h
bc-parser.cpp

MITScript.cpp
MITScript.h
MITScript.interp
MITScript.tokens

tests/tmp.out
cachegrind.out*
gmon.out
gprof.out