CompileFlags:
  Add:
   - "-xc++"
   - "-std=c++17"
   - "-Wno-attributes"

Index:
  Background: Build
  
Diagnostics:
  ClangTidy:
    Add:
      - bugprone*
      - clang-analyze*
      - performance*
      - portability*
      # - readability*
      # - modernize*
    Remove:
      # - readability-magic-number